$fonts-headline: 'Amatic SC', sans-serif;
$fonts-body: 'Josefin Sans', sans-serif;
$background-color: #faecd7;
$primary: #70dbb7;
$accent1: #fc6448;
$accent2: #f6f792e6;
$grey-sidebar: #333745e6;
$text-dark: #001f3f;
$text-light: white;
