:root {
    /* change the values below to your colors from your palette */
    --primary: #14213d;
    --secondary: #fca311;
    --accent1: #e5e5e5;
    --accent2: #000000;
    
    
    
    
    /* change the values below to your chosen font(s) */
    --heading-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --paragraph-font: Arial, Helvetica, sans-serif;
}

body {
 
    font-family: var(--paragraph-font);
    font-size: 16px;
    text-decoration: none;
}

#mode button{
        position: absolute;
        top: 5px;
        right: 3rem;
        border: 1px solid var(--accent2);
        background-color: transparent;
        cursor: pointer;
        
}

header {
    
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary);
    border: 2px solid var(--accent2);
    border-radius: .2rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color:  var(--primary);
    padding: 2em;
    margin: 3em;
    overflow: hidden;
}

.profile_pic {
    max-width: 200px;
    height: auto;
    margin-right: .5rem;
    border-radius: 2em;
}
 h2, h3 {
    display: flex;
    justify-content: center;
    
 }

 hr {
    max-width: 75%;
   
 }

 .card{
    border: 2px solid var(--secondary);
    background-color: var(--accent1);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 2rem;
 }

 ul {
    margin: auto;
	text-align: left;
    list-style-type: disc;
    list-style-position: inside;
    list-style: none;
    padding: 0; 
    padding: 1rem; 
   
 }

 footer {
    background-color: var(--primary);
    color: var(--accent1);
    text-align: center;
    padding: .5rem;
    
        
}

